{% extends '::base.html.twig' %}

{% block body %}

    <article>
        <h2>{{ article.name }}</h2>
		{% include "PelshoffBlogBundle:Default:article-info.html.twig" %}
        {{ article.leader|raw }}
        {{ article.content|raw }}
		{% include "PelshoffBlogBundle:Default:article-info.html.twig" %}
    </article>

    <ul class="nav nav-list">
        <li><a href="#commentForm" class="openComments"><i class="icon-chevron-down"></i> Post a comment <i class="icon-chevron-down"></i></a></li>
    </ul>

	{% include "PelshoffBlogBundle:Default:comment-form.html.twig" %}

    <div id="commentContainer">
    {% for comment in article.comments %}

        {% include 'PelshoffBlogBundle:Default:comment.html.twig' %}

    {% endfor %}
    </div>

    <div class="modal fade" id="modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Modal header</h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>

{% endblock %}

{% block title %}{{ title }}{% endblock %}
