{% extends '::base.html.twig' %}

{% block body %}

    {% for article in pagination %}

    <article>
        <h2>{{ article.name }}</h2>
		{% include "PelshoffBlogBundle:Default:article-info.html.twig" %}
        {{ article.leader|raw }}
        <a class="pbb-read-more" href="{{ path('article', { 'year': article.publishTime|date("Y"), 'month': article.publishTime|date("m"), 'article': article.url }) }}">Read more &rarr;</a>
    </article>

    {% endfor %}

    <div class="navigation">
        {{ pagination.render()|raw }}
    </div>

{% endblock %}
