{% extends '::base.html.twig' %}

{% block body %}
<h2>About</h2>
<p>Pelshoff.com by Pim Elshoff</p>
<p>All content published on this site licensed under a <a href="http://creativecommons.org/licenses/by-nc/2.5/">Creative Commons Attribution-NonCommercial 2.5 License</a>. You are completely free to copy and use it, but if you do, please link back to the original.</p>
<p>Any and all information that you enter will not be shared outside of PElshoff.com. Your e-mail address will not be published.</p>
<p>This blog was created using:</p>
<ul>
    <li>Symfony 2</li>
    <li>Bootstrap</li>
    <li>jQuery</li>
    <li>Coffeescript</li>
    <li>Ajax navigator</li>
    <li>Syntax highlighter</li>
</ul>
{% endblock %}